<?xml version="1.0"?>

<robot xmlns="http://drake.mit.edu"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://drake.mit.edu ../../doc/drakeURDF.xsd" name="BoxValkyrie">
  <link name="core">
    <inertial>
      <mass value="100.0"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="1.35" iyy="1.67" izz="0.354" ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.2 0.05 0.4"/>
      </geometry>
    </visual>
  </link>
</robot>
